<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1 style="text-align:center"> <u>About Us</u></h1>
<p style="font-size:x-large"> Our soccer shop was founded by European immigrants in 1987.  Unable to find high-quality soccer supplies to meet their European needs, they founded this shop.  Today, we continue that legacy of success and love of the sport.  Please support this family-owned business.</p>
<br>
<a href="/mainscreen" style="font-size:larger">Return to Main Screen</a>
</body>
</html>