<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Now</title>
</head>
<body>
    <h1 style="text-align:center"> <u>Buy Now</u></h1>
    <p style="font-size:x-large">
        Our soccer shop was founded by European immigrants in 1987.  Unable to find high-quality soccer
        upplies to meet their European needs, they founded this shop.  Today, we continue that legacy of success
        and love of the sport.  Please support this family-owned business.</p>
    <br>


<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>